 {
  box-sizing: border-box;
}

html,
body {
    min-height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: auto;
    padding-bottom:none;

}

.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: '';
  visibility: hidden;
}

div,
header,
footer,
main,
section,
aside,
article {
  min-height: 100px;
  /*background-color: rgba(30, 100, 255, 0.1);*/
}
